<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="CACHE_DIR" value="C:\\Users\\raymo\\OneDrive\\Desktop\\Ray Stuff\\_Cache" />
    <section name="BETA_DIR" value="C:\\Users\\raymo\\OneDrive\\Desktop\\Ray Stuff\\_Cache\\Beta_Callibration" />
  </configSections>



</configuration>